<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
    <tbody>
    <tr th:each="row : ${gameTable}" style="width: 100%;">
        <td th:each="game : ${row}" style="width: 270px;">
            <div>
                <img th:src="${game.getGameImage()}" width="150px" height="150px" alt="">
                <h3 th:text="${game.getGameName()}"></h3>
                <h3>类型：<span th:text="${game.getGameCategory()}"></span></h3>
                <h3>人数：<span th:text="${game.getGameNumber()}"></span></h3>
            </div>
        </td>
        <td th:each="emptycell : ${#numbers.sequence(row.size(), 3)}"></td>
    </tr>
    </tbody>
    </table>
</body>
</html>