<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
            border: 2px solid rgb(140 140 140);
            font-family: sans-serif;
            font-size: 0.8rem;
            letter-spacing: 1px;
        }
        caption {
            caption-side: bottom;
            padding: 10px;
            font-weight: bold;
        }
        thead,
        tfoot {
            background-color: rgb(228 240 245);
        }
        th,
        td {
            border: 1px solid rgb(160 160 160);
            padding: 8px 10px;
        }
        td {
            height: 50px;
        }
        td:last-of-type {
            text-align: center;
        }
        tbody > tr:nth-of-type(even) {
            background-color: rgb(237 238 242);
        }
        tfoot th {
            text-align: right;
        }
        tfoot td {
            font-weight: bold;
        }
    </style>
</head>
<body>
<a href="userHome_MainPage">返回</a>
<table id="dataTable1" style="width: 700px; position: fixed;left: 50px;top: 50px">
    <thead>
    <tr>
        <th scope="col">预约编号</th>
        <th scope="col">用户名</th>
        <th scope="col">桌子编号</th>
        <th scope="col">预约日期</th>
        <th scope="col">开始时间</th>
        <th scope="col">结束时间</th>
        <th scope="col">预约状态</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<table id="dataTable2" style="width: 700px; position: fixed;left:830px;top: 50px">
    <thead>
    <tr>
        <th scope="col">预约编号</th>
        <th scope="col">用户名</th>
        <th scope="col">桌子编号</th>
        <th scope="col">预约日期</th>
        <th scope="col">开始时间</th>
        <th scope="col">结束时间</th>
        <th scope="col">预约状态</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div style="position: fixed;bottom: 50px;left: 725px;">
    <button id="pre">上一页</button>
    <label id="pageNumber"></label>
    <button id="next">下一页</button>
</div>
</body>
<script>
    const data = [
        { ObserveId: "1", UserName: "1000", DeskID: "100", ObserveDate: "2024/1/1", StartTime: "8:00", EndTime: "9:00", Observestatus: "1" },
        { ObserveId: "2", UserName: "1001", DeskID: "101", ObserveDate: "2024/1/1", StartTime: "9:00", EndTime: "10:00", Observestatus: "1" },
        { ObserveId: "3", UserName: "1002", DeskID: "102", ObserveDate: "2024/1/1", StartTime: "10:00", EndTime: "11:00", Observestatus: "1" },
        { ObserveId: "4", UserName: "1003", DeskID: "103", ObserveDate: "2024/1/1", StartTime: "11:00", EndTime: "12:00", Observestatus: "1" },
        { ObserveId: "5", UserName: "1004", DeskID: "104", ObserveDate: "2024/1/1", StartTime: "12:00", EndTime: "13:00", Observestatus: "1" },
        { ObserveId: "6", UserName: "1005", DeskID: "105", ObserveDate: "2024/1/1", StartTime: "13:00", EndTime: "14:00", Observestatus: "1" },
        { ObserveId: "7", UserName: "1006", DeskID: "106", ObserveDate: "2024/1/1", StartTime: "14:00", EndTime: "15:00", Observestatus: "1" },
        { ObserveId: "8", UserName: "1007", DeskID: "107", ObserveDate: "2024/1/1", StartTime: "15:00", EndTime: "16:00", Observestatus: "1" },
        { ObserveId: "9", UserName: "1008", DeskID: "108", ObserveDate: "2024/1/1", StartTime: "16:00", EndTime: "17:00", Observestatus: "1" },
        { ObserveId: "10", UserName: "1009", DeskID: "109", ObserveDate: "2024/1/1", StartTime: "17:00", EndTime: "18:00", Observestatus: "1" },
        { ObserveId: "11", UserName: "1010", DeskID: "110", ObserveDate: "2024/1/1", StartTime: "18:00", EndTime: "19:00", Observestatus: "1"},
        { ObserveId: "12", UserName: "1011", DeskID: "111", ObserveDate: "2024/1/1", StartTime: "19:00", EndTime: "20:00", Observestatus: "1" },
        { ObserveId: "13", UserName: "1012", DeskID: "112", ObserveDate: "2024/1/1", StartTime: "20:00", EndTime: "21:00", Observestatus: "1" },
        { ObserveId: "14", UserName: "1013", DeskID: "113", ObserveDate: "2024/1/1", StartTime: "21:00", EndTime: "22:00", Observestatus: "1" },
        { ObserveId: "15", UserName: "1014", DeskID: "114", ObserveDate: "2024/1/1", StartTime: "22:00", EndTime: "23:00", Observestatus: "1" },
        { ObserveId: "16", UserName: "1015", DeskID: "115", ObserveDate: "2024/1/1", StartTime: "23:00", EndTime: "00:00", Observestatus: "1" },
        { ObserveId: "17", UserName: "1016", DeskID: "116", ObserveDate: "2024/1/1", StartTime: "00:00", EndTime: "1:00", Observestatus: "1" },
        { ObserveId: "18", UserName: "1017", DeskID: "117", ObserveDate: "2024/1/1", StartTime: "1:00", EndTime: "2:00", Observestatus: "0" },
        { ObserveId: "19", UserName: "1018", DeskID: "118", ObserveDate: "2024/1/1", StartTime: "2:00", EndTime: "3:00", Observestatus: "0" },
    ];

    const gamesPerPage = 20;
    let currentPage=1;

    const currentPageText = document.getElementById("pageNumber");
    currentPageText.textContent = currentPage;

    function refreshPage(){

        currentPageText.textContent = currentPage.toString();
        const buttonPre = document.getElementById("pre");
        const buttonNext = document.getElementById("next");

        buttonPre.disabled = currentPage === 1;

        const tbody1 = document.getElementById('dataTable1').getElementsByTagName('tbody')[0];
        tbody1.innerHTML = '';
        const tbody2 = document.getElementById('dataTable2').getElementsByTagName('tbody')[0];
        tbody2.innerHTML = '';

        buttonNext.disabled = currentPage === Math.ceil(data.length/gamesPerPage);
        displayGames(currentPage, data)
    }

    function displayGames(page, filteredGames) {

        const tbody1 = document.getElementById('dataTable1').getElementsByTagName('tbody')[0];
        const tbody2 = document.getElementById('dataTable2').getElementsByTagName('tbody')[0];
        const startIndex = (page-1)  * gamesPerPage;
        const middleIndex = startIndex + gamesPerPage/2;
        const endIndex = page * gamesPerPage;

        for (let i = startIndex; i < middleIndex && i < filteredGames.length; i++) {
            const row = tbody1.insertRow();
            const item = filteredGames[i];

            row.insertCell(0).textContent = item.ObserveId;
            row.insertCell(1).textContent = item.UserName;
            row.insertCell(2).textContent = item.DeskID
            row.insertCell(3).textContent = item.ObserveDate;
            row.insertCell(4).textContent = item.StartTime;
            row.insertCell(5).textContent = item.EndTime;
            row.insertCell(6).textContent = item.Observestatus === "0" ? "未使用" : "已使用";
        }

        for (let i = middleIndex; i < endIndex && i < filteredGames.length; i++) {
            const row = tbody2.insertRow();
            const item = filteredGames[i];

            row.insertCell(0).textContent = item.ObserveId;
            row.insertCell(1).textContent = item.UserName;
            row.insertCell(2).textContent = item.DeskID
            row.insertCell(3).textContent = item.ObserveDate;
            row.insertCell(4).textContent = item.StartTime;
            row.insertCell(5).textContent = item.EndTime;
            row.insertCell(6).textContent = item.Observestatus === "0" ? "未使用" : "已使用";
        }
    }

    function prePage(){
        currentPage--;

        refreshPage();
    }
    function nextPage(){
        currentPage++;
        currentPageText.textContent = currentPage.toString();
        refreshPage();
    }
    function initializePageNumber(){
        currentPage=1;
        currentPageText.textContent = currentPage.toString();
        refreshPage();
    }


    document.getElementById('pre').addEventListener('click', prePage);
    document.getElementById('next').addEventListener('click', nextPage);


    // 初始化页面
    window.onload = initializePageNumber;




</script>
</html>