<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .ContainerButtonPart{
            position: fixed;
            top: 400px;
            left:18%;
            width: 75%;
        }
    </style>
</head>
<body>
<label style="font-size: 48px; position: fixed;top: 150px;left: 600px">请选择管理内容</label>
<div class="ContainerButtonPart">
    <button id="Order" style="width: 200px;height: 133px;font-size: 24px;margin-right: 50px">预约记录一览</button>
    <button id="Game" style="width: 200px;height: 133px;font-size: 24px;">桌游信息管理</button>
    <button id="User" style="width: 200px;height: 133px;font-size: 24px;margin-left: 50px">用户信息一览</button>
    <button id="Desk" style="width: 200px;height: 133px;font-size: 24px;margin-left: 50px">桌子信息管理</button>
</div>

</body>
<script>
    let buttonOrder = document.getElementById("Order");
    let buttonGame = document.getElementById("Game");
    let buttonUser = document.getElementById("User");
    let buttonDesk = document.getElementById("Desk");
    buttonOrder.onclick = function (){
        window.location.href = "Manager_OrderManage_SelectOrderType";
    }
    buttonGame.onclick = function (){
        window.location.href = "Manager_GameManage_SelectManageType";
    }
    buttonUser.onclick = function (){
        window.location.href = "Manager_UserAll";
    }
    buttonDesk.onclick = function (){
        window.location.href = "Manager_DeskManage_SelectManageType";
    }

</script>
</html>
