<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="User/Order" method="post">
<!--    <label for="userId">用户id</label>-->
<!--    <input type="number" id="userId" name="userId">-->
<!--    <br>-->
    <label for="deskId">桌子id</label>
    <input type="number" id="deskId" name="deskId">
    <br>
    <label for="storeId">商店id</label>
    <input type="number" id="storeId" name="storeId">
    <br>
    <button type="submit">提交</button>
</form>
</body>
</html>