<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="User/register" method="post">
    <label for="userName">用户昵称：</label>
    <input type="text" id="userName" name="userName">
    <br>
    <label for="userPassword">用户密码：</label>
    <input type="password" id="userPassword" name="userPassword">
    <br>
    <label for="userSex">用户性别：</label>
    <input type="number" id="userSex" name="userSex">
    <br>
    <label for="userTelephone">用户电话：</label>
    <input type="text" id="userTelephone" name="userTelephone">
    <br>
    <button type="submit">提交</button>
</form>


</body>
</html>